:root {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-green-100: #d1fadf;
    --color-green-200: #a6f4c5;
    --color-green-300: #6ce9a6;
    --color-green-400: #32d583;
    --color-green-500: #12b76a;
    --color-blue-200: #b2ddff;
    --color-blue-400: #53b1fd;
    --color-blue-700: #175cd3;
    --color-purple-50: #faf5ff;
    --color-purple-200: #e1cdff;
    --color-purple-300: #d1b3ff;
    --color-purple-600: #9333ea;
    --color-slate-200: oklch(92.9% .013 255.508);
    --color-gray-50: #f9fafb;
    --color-gray-100: #f4f5f7;
    --color-gray-200: #eaecf0;
    --color-gray-300: #d0d5dd;
    --color-gray-400: #949bad;
    --color-gray-500: #667085;
    --color-gray-600: #475467;
    --color-gray-700: #344054;
    --color-gray-800: #1d2939;
    --color-gray-900: #15172f;
    --color-white: #fff;
    --spacing: .25rem;
    --container-4xl: 56rem;
    --text-xs: .75rem;
    --text-xs--line-height: 1.33333;
    --text-sm: .875rem;
    --text-sm--line-height: 1.42857;
    --text-base: 1rem;
    --text-base--line-height: 1.5;
    --text-lg: 1.125rem;
    --text-lg--line-height: 1.55556;
    --text-xl: 1.25rem;
    --text-xl--line-height: 1.4;
    --text-2xl: 1.5rem;
    --text-2xl--line-height: 1.33333;
    --text-3xl: 1.875rem;
    --text-3xl--line-height: 1.2;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --tracking-widest: .1em;
    --leading-tight: 1.25;
    --leading-relaxed: 1.625;
    --radius-lg: .5rem;
    --radius-xl: .75rem;
    --radius-2xl: 1rem;
    --radius-3xl: 1.5rem;
    --ease-in-out: cubic-bezier(.4, 0, .2, 1);
    --animate-spin: spin 1s linear infinite;
    --blur-sm: 8px;
    --blur-xl: 24px;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --font-display: "Inter", "sans-serif";
    --font-secondary: "Poppins", "sans-serif";
    --text-display-xl: 56px;
    --text-display-xl--line-height: 66px;
    --text-display-xl--letter-spacing: 1%;
    --text-display-lg: 48px;
    --text-display-lg--letter-spacing: 1%;
    --text-display-md: 36px;
    --text-display-md--line-height: 48px;
    --text-display-md--letter-spacing: 0;
    --text-display-sm: 30px;
    --text-display-sm--line-height: 40px;
    --text-display-sm--letter-spacing: 0;
    --text-display-xs: 24px;
    --text-display-xs--line-height: 32px;
    --text-display-xs--letter-spacing: 0;
    --text-display-2xs: 18px;
    --text-display-2xs--line-height: 130%;
    --text-display-2xs--letter-spacing: 0;
    --text-body-xl: 20px;
    --text-body-xl--line-height: 30px;
    --text-body-xl--letter-spacing: 0;
    --text-body-lg: 18px;
    --text-body-lg--line-height: 27px;
    --text-body-lg--letter-spacing: 0;
    --text-body-md: 16px;
    --text-body-md--line-height: 24px;
    --text-body-md--letter-spacing: 0;
    --text-body-sm: 14px;
    --text-body-sm--line-height: 21px;
    --text-body-sm--letter-spacing: 0;
    --border-width-1-5: 1.5px;
    --color-gray-850: #262841;
    --color-primary-25: #f5f5ff;
    --color-primary-50: #e5e8f9;
    --color-primary-100: #d5d5fe;
    --color-primary-200: #b1b8ff;
    --color-primary-300: #999afd;
    --color-primary-500: #6369ff;
    --color-primary-600: #5258fb;
    --color-primary-700: #3c3ed4;
    --color-primary-800: #272594;
    --color-primary-900: #171559;
    --color-primary: #5258fb;
    --color-error-100: #fee4e2;
    --color-error-400: #f97066;
    --color-orange-builders: #eb5429;
    --gradient-pink-green-blue: linear-gradient(90deg, #c084fc 10%, #39d87d 50%, #3c3ed4 90%);
    --gradient-blue-green: linear-gradient(116deg, #472ce8 16%, #39d87d 84%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    margin-inline: auto;
    width: 100%;
}
.bg-shadow {
    background: #5155b266;
    border-radius: 780px;
    filter: blur(120px);
    height: min-content;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    /* min-width: 902px; */
    position: absolute;
    transform: translateX(-50%);
    width: min-content;
}
.card-shadow {
    box-shadow: 10px 10px 25px -4px #15172f0d;
}
p{
    font-weight: 300
}
a {
    font-weight: var(--font-weight-semibold);
    color: var(--color-primary-700) !important;
    &:hover{
        color: var(--color-purple-600) !important;
    }

}
@tailwind base;
@tailwind components;
@tailwind utilities;